html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      /* overflow: hidden; impede rolagem */
      font-family: Arial, sans-serif;
    background: linear-gradient( #a70909, #a70909  );
/* overflow-y: hidden; */


     
    }

    section {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: white; 
     
    }

    section:target {
      display: flex; /* só a seção "alvo" aparece */
    }

    /* Mostra a primeira por padrão */
    section:first-of-type {
      display: flex;
    }

    nav {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 10;
    }

   .tamanhoimg {
    max-width: 80px;
   }
    
   .bordas {
    border-radius: 50px;
    text-align: center; 
    background-color: aqua;
   
   }

   .titulos {
justify-content: center;
text-align: center;

    color: blue;
   }
   .formulario{ 
    
margin: 0 auto;
display: flex;
align-items: center;
flex-direction: column;
font-size: 30px;

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
   }
.tituloprincipal{
  margin: 0 auto;
display: flex;
align-items: center;
flex-direction: column;
font-size: 30px;
 color: #4e0101; font-size: 5rem;
    margin-top: 10px;
    text-shadow: 3px 0 rgb(0, 0, 0),
                -3px 0 rgb(0, 0, 0),
                 0 3px rgb(0, 0, 0),
                 0 -3px rgb(0, 0, 0),
                 2px 2px rgb(0, 0, 0),
                 -2px -2px rgb(0, 0, 0),
                 2px -2px rgb(0, 0, 0),
                 -2px 2px rgb(0, 0, 0);
}

.logo{
  border: 100px;
  flex-direction: column;
  align-items: left;
  display: flex;
   margin: 0 auto;
    width: 250px;         /* tamanho da imagem */
  height: 250px;        /* deve ser igual à largura */
  border-radius: 50%;   /* transforma em círculo */
  object-fit: cover;    /* mantém o enquadramento da imagem */
border: 3px solid #550101; /* borda verde */
  object-fit: cover;
max-width: 800px;
    
}
.enfeiteborda{
  margin: 0 auto;
    border: 5px rgb(48, 230, 24) solid;
    border-radius: 20px;
    max-width: 800px;
    max-height: auto;
}
