html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden; /* impede rolagem */
      font-family: Arial, sans-serif;
    }

    section {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: white;
    }

    section:target {
      display: flex; /* só a seção "alvo" aparece */
    }

    /* Mostra a primeira por padrão */
    section:first-of-type {
      display: flex;
    }

    nav {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 10;
    }

   .logo {
    max-width: 80px;
   } 

   .tamanhoimg {
    max-width: 80px;
   }