
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  background-color: #000;
  color: #f5c400;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; 
}


header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px;
  box-sizing: border-box;
  position: relative;
}


header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}


header h1 {
  font-size: 2.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


header ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}

header ul li a:hover {
  color: #f5c518;
}


main {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 30px;
  margin: 80px 20px; 
  width: 100%; 
  max-width: 1200px; 
  box-sizing: border-box;
  text-align: left;
}


main img {
    
  margin-left: 0; 
  max-width: 600px;
  height: auto;
  max-height: 480px;
  object-fit: cover;
  border-radius: 0;
  background: #111;
  box-shadow: 0 0 35px rgba(255, 215, 0, 0.1);
  
}


main p {
  flex: 1;
  max-width: 35%;
  line-height: 1.7em;
  color: #f5c518;
  font-size: 1.1em;
  margin: 0; 
}