body{
    background-color: crimson;
}
header{
    background: brown;
    padding-top: 15px;
    margin: 10%;
    padding: -90%;
}
h1{
    color: rgb(255, 255, 255);
    justify-self: center;
    padding: 6%;
}
